<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Key Service</title>
</head>

<body>
    
    <form id="search-form">
        <input type="text" name="search" placeholder="Press enter to search" id="label" 
        style="width: 500px;height: 30px;" /><br /><br />
        <input type="submit" name="submit" style="height:30px;width:200px" id="btn-search" value="Search"/>
        <input type="submit" name="submit" style="height:30px;width:200px" id="btn-reverse-search" value="Reverse Search"/>
    </form>

    <b id="translation" style="font-size:20px;"></b>

    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
</body>
</html>